.product {
  background-color: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  width: 300px;
  height: 150px;
  position: relative;
  animation: fadeInOut 2s infinite linear;
  @include prefixer(animation, fadeInOut 2s infinite linear, webkit moz o);
  @include prefixer(box-shadow, 10px 10px 10px #ccc, webkit moz o ms);
  .overlay {
    @include overlay;
    background-color: rgba($redColor, 0.4);
    color: #fff;
  }
}

@include keyFrame(fadeInOut) {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
